* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.contenedor__education {
    border: 0.313rem solid #cdcdcc;
    height: 11.563rem;
    width: 28.125rem;
    display: flex;
    flex-direction: column;
    margin: 1.563rem 0rem 0rem 10.625rem;
}

.contenedor__education_header {
    align-items: center;
    background-color: #454545;
    color: white;
    display: flex;
    font-weight: bold;
    height: 2.5rem;
    padding: 1.25rem;
    width: 100%;
}

.contenedor__education_info {
    padding: 0.625rem;
}

.contenedor__education_info p {
    margin: 0.313rem 0rem 0.938rem 0.313rem;
}

.contenedor__education_info-title {
    font-size: 1.375rem;
}

.contenedor__education_info-fecha {
    color: #5c6263;
    font-size: 1.063rem;
    font-weight: 600;
}

.contenedor__education_info-project {
    font-size: 0.938rem;
}