* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.nav__bar {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 3.75rem;
    padding: 1.563rem;
}

.nav__title {
    font-size: 1.875rem;
    margin-left: 9.375rem;
}

.nav__links {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav__links li {
    list-style: none;
    margin-left: 1.875rem;
}

.nav__links li a {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: 600;
}

.btn {
    background-color: #2c7be2;
    border: 0.125rem solid black;
    box-shadow: 0.188rem 0.188rem 0.125rem 0.063rem rgba(0, 0, 0, 0.959);
    color: white;
    cursor: pointer;
    font-size: 1.063rem;
    height: 1.875rem;
    margin-left: 10.313rem;
    width: 7.5rem;
    position: sticky;
}