* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.nav__bar {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 60px;
    padding: 25px;
}

.nav__title {
    font-size: 30px;
    margin-left: 150px;
}

.nav__links {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav__links li {
    list-style: none;
    margin-left: 30px;
}

.nav__links li a {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: 600;
}

.btn {
    background-color: #2c7be2;
    border: 2px solid black;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.959);
    color: white;
    cursor: pointer;
    font-size: 17px;
    height: 30px;
    margin-left: 165px;
    width: 120px;
    position: sticky;
}