* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.contenedor__tarjeta-usuario {
    border: 0.313rem solid #cdcdcc;
    height: 21.25rem;
    width: 28.125rem;
    display: flex;
    flex-direction: column;
    margin: 1.875rem 0rem 0rem 10.625rem;
    position: relative;
}

.photo__icon-carduser {
    border-radius: 50%;
    border: 0.313rem solid #cdd1d2;
    height: 6.25rem;
    width: 6.25rem;
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
}

.contenedor__header-info_user {
    background-color: #14a4bc;
    border: 0.188rem solid #14a4bc;
    height: 6.25rem;
    width: 100%;
}
.contenedor__info-user {
    border: 0.063rem solid lightgrey;
    height: 21.875rem;
    width: 100%;
}

.contenedor__info-user h1 {
    margin: 3.125rem 0rem 0rem 1.875rem;
}

.user__ubication-carduser {
    display: flex;
    margin: 0.625rem 0rem 0rem 1.875rem;
}

.photo__map-carduser {
    height: 1.25rem;
    width: 0.75rem;
}

.user__ubication-carduser p {
    font-size: 1.25rem;
    margin-left: 0.625rem;
}

.user__description-carduser {
    margin: 0.938rem 0rem 0rem 1.875rem;
}

.user__configurations-carduser {
    display: flex;
    margin: 0.938rem 0rem 0rem 1.875rem;
}

.photo__settings-carduser {
    height: 1.25rem;
    width: 1.25rem;
}

.user__configurations-carduser a {
    color: blue;
    font-size: 1.063rem;
    margin-left: 0.625rem;
}
